

.list_group a{
    padding: 10px;
}



.list_group a:hover {
    background-color: lightsalmon;
    color: white;
    cursor: pointer;
}
.active {
    background-color: lightsalmon;
    color: white;
    cursor: pointer;

}


