.image {
    width: 6rem;
    height: 5rem;
}


.containerCard {
    display: flex;
    width: auto;
    overflow: hidden;
    /* Ocultar el exceso de texto */
    text-overflow: ellipsis;
}

.features {
    margin-left: 1rem;
    overflow: hidden;
    /* Ocultar el exceso de texto */
    text-overflow: ellipsis;
}

.addLessButton {
    padding-right: 0.1em;
    padding-left: 0.1em;
    border-radius: 5px;
    width: 1.3em;
    height: 1.5em;
    align-items: center;
}

.amountView {
    padding-left: 0.6em;
    padding-right: 0.6em;
}





/* Card responsive */
.card {
    display: none
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
  }
  
  .image {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .interactions,
  .removeButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .amountView {
    margin: 0 10px;
  }



@media (max-width: 620px) {
    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 15px;
    }
    .cardA{
        display: none;
    }
   
}
