.image {
    width: 6rem;
    height: 5rem;
}


.containerCard {
    display: flex;
    width: auto;
    overflow: hidden;
    /* Ocultar el exceso de texto */
    text-overflow: ellipsis;
}

.features {
    margin-left: 1rem;
    overflow: hidden;
    /* Ocultar el exceso de texto */
    text-overflow: ellipsis;
}

.addLessButton {
    padding-right: 0.1em;
    padding-left: 0.1em;
    border-radius: 5px;
    width: 1.3em;
    height: 1.5em;
    align-items: center;
}

.amountView {
    padding-left: 0.6em;
    padding-right: 0.6em;
}