




.gridContainer {
    /* background: orange; */
    display: grid;
    gap: 20px;
    /* Tamaño por defecto en celular */
    grid-template-columns: repeat(1, 1fr);
    padding: px;
  }
  
  @media (min-width: 600px) {
    /* En tablet: 2 columnas */
    .gridContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (min-width: 1024px) {
    /* En tablet: 2 columnas */
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1220px) {
    /* En escritorio: 3 columnas */
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }