.container_{
    margin-top: 3.9rem;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bigDiv {
    /* border: 2px solid white; */
    /* background: green;  */
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas con el mismo ancho */
    gap: 5px; /* Espacio entre las tarjetas */
    
}

.item {
    width: 25%;
    box-sizing: border-box;
    padding: 1em;
}

.activePage {
    background-color: sandybrown;
    width: 100%;
}

