.accordion {
    padding: 1rem;
    width: 100%;

}

.container_{
    display: flex;
}


.containerFilters{
    display: flex;
    justify-content: center;
    /* background-color: cadetblue; */
}


.filter{
    margin-left: 1rem;

}

.cardbg{
    /* background: transparent; */
    border: 0.1px solid #9d9d9d;
}