.containerHeader {
    margin-left: 10rem;
    margin-right: 10rem;
}


.bigDiv {
    /* background: green; */
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    
    margin-right: 10rem;
    margin-left: 10rem;

}

.barDiv {
    /* background: black; */
    width: 20%;
}

.accordion {
    padding: 1rem;
    width: 100%;

}

.cardsDiv {
    /* background: yellow; */
    padding: 1rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .imgLoading {
    margin-top: 10em;
    margin-left: 25em;
    height: 14em;
    width: auto;
    border-radius: 50%;
} */

/* Fondo del home */
.background_home{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../../assets/banner-food.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}


@media (max-width: 600px) {
   
}
@media (max-width: 1024px) {
    .bigDiv {
        margin-right: 0;
        margin-left: 0;
    
    }
}
  
@media (min-width: 1220px) {
    

}