.containerHeader {
    margin-left: 10rem;
    margin-right: 10rem;
}


.bigDiv {
    /* background: green; */
    display: flex;
    /* flex-direction: column; */
    padding-bottom: 2rem;
    
    margin-right: 10rem;
    margin-left: 10rem;

}

.barDiv {
    /* background: salmon; */
    
}


.cardsDiv {
    /* background: yellow; */
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Fondo del home */
.background_home{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../../assets/banner-food.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}



/* Responsive */

@media (max-width: 920px) {

    .containerHeader {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .bigDiv {
        flex-direction: column;
        margin-right: 1rem;
        margin-left: 1rem;
    
    }
    
   
}