

.btnCart {
    border: none;
    background: black;
    color: white;
    font-weight: 400;
    border-radius: 25px;
    padding: 4px 0px;
    padding-right: 4px;
    padding-left: 12px;
    transition: transform 0.3s ease-in-out; /* Transición suave */
    
}
.btnCart:hover {
    transform: scale(1.1); /* Cambio de escala al pasar el cursor */
}



.bgColor {
    background-color: sandybrown;
}
.imgCart {
    margin-right: 10px;
    width: 1.4rem;
}