.containerLoading {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 1005;
}



.imgLoading {
    height: 11em;
    width: auto;
    border-radius: 50%;
}

.h2 {
    color: white;
}