.bigDiv {
    display: flex;
    flex-direction: row;


}

.barDiv {
    width: 300px;
    margin-top: 3.9em;


}

.accordion {
    width: 200px;

}

.cardsDiv {
    flex-grow: 1;

    margin-left: 3em;

}

.imgLoading {
    margin-top: 10em;
    margin-left: 25em;
    height: 14em;
    width: auto;
    border-radius: 50%;
}

/* Fondo del home */
.background_home{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../assets/banner-food.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}