/* Panel.module.css */

.panel {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: width 0.3s ease-out;
    overflow: hidden;
    z-index: 999;
  }
  
  .open {
    width: 40%;
  }
  
  .panel button {
    margin: 10px;
  }
  
  .panelContent {
    padding: 20px;
  }
  
  /* Agrega estilos adicionales según sea necesario */