.containerHeader{
    margin-left: 10rem;
    margin-right: 10rem;
}


.containerTable{
    background: white;
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;


    margin-left: 10rem;
    margin-right: 10rem;

}



@media (max-width: 920px) {

    .containerTable{
        margin-left: 2rem;
        margin-right: 2rem;
    
    }
   
    .containerHeader {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}