.containerProductNotFound {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 1005;
}



.imgProductNotFound {
    height: 11em;
    width: auto;

}

.h2 {
    color: white;
}